@media screen and (max-width: 770px) {
  .mobile-only {
    display: block;
  }

  .header-links {
    display: none;
    position: absolute;
    width: 43%;
    text-align: left;
    -webkit-box-shadow: 5px 5px 52px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 52px -8px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 52px -8px rgba(0,0,0,0.75);
  }

  .header-links-btn {
    float: left;
    height: 60px;
    width: 60px;
    margin-left: 28px;
    margin-top: 12px;
    font-size: 2em;
  }

  .header-links-separator {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 37px;
  }

  .header-links-btn {
    height: 41px;
    width: 41px;
    margin-top: 2px;
    font-size: 0.9em;
  }

  .content-navigation a {
    margin: 0px 8px;
  }

  .content-navigation select {
    margin: 0 20px;
  }
}

@media screen and (max-width: 440px) {
  .content-navigation a {
    margin: 0px 14px;
  }

  .content-navigation-link {
    display: none;
  }
}
